# Script for pushing our similarity matrices to a PostgreSQL Server

In [ ]:
import pandas as pd
import numpy as np
import pickle
import psycopg2
from sqlalchemy import Table, Column, Integer, String, Float, Numeric
from sqlalchemy import create_engine, MetaData
import os
from io import StringIO

In [2]:
df_mech = pickle.load(open(r'C:\Users\tdkla\PycharmProjects\boardgame_recommender_system\similarity_scores_mech_user.pkl', 'rb'))

In [3]:
df_all = pickle.load(open(r'C:\Users\tdkla\PycharmProjects\boardgame_recommender_system\similarity_scores_all_features.pkl', 'rb'))

In [4]:
df_theme = pickle.load(open(r'C:\Users\tdkla\PycharmProjects\boardgame_recommender_system\similarity_scores_theme_user.pkl', 'rb'))

In [5]:
df_games = pickle.load(open(r'C:\Users\tdkla\PycharmProjects\boardgame_recommender_system\games.pkl', 'rb'))

In [6]:
# Check for duplicate game names
df_dup = df_games[df_games.duplicated(subset='Name')]

In [7]:
# If games are duplicates, we will append the bggid to the end,
# as there are multiple games with identical names published within the same year (e.g. Loch Ness (2010))
if not df_dup.empty:
    print("Duplicate game names found:")
    #print(df_dup.head())
    
    # Append year to duplicate game names
    for game_name in df_dup['Name']:
        bggid = df_games.loc[df_games['Name'] == game_name, 'BGGId']
        print(bggid.values)
        df_games.loc[df_games['Name'] == game_name, 'Name'] = game_name + ' (' + bggid.astype(str) + ')'
    
    # Check for duplicates again after appending year
    df_dup_after_append = df_games[df_games.duplicated(subset='Name')]
    if df_dup_after_append.empty:
        print("Duplicates resolved by appending year")
    else:
        print("Duplicates remain even after appending BGGID:")
        print(df_dup_after_append)
else:
    print("No duplicate game names found")

Duplicate game names found:
<StringArray>
['121', '680', '283355']
Length: 3, dtype: string
<StringArray>
['28', '859']
Length: 2, dtype: string
<StringArray>
['136', '1947', '3569', '31794', '104640', '258137']
Length: 6, dtype: string
<StringArray>
['1653', '2088', '131357']
Length: 3, dtype: string
<StringArray>
['568', '2133']
Length: 2, dtype: string
<StringArray>
['1255', '2147']
Length: 2, dtype: string
<StringArray>
['1702', '2209']
Length: 2, dtype: string
<StringArray>
['1400', '2217']
Length: 2, dtype: string
<StringArray>
['1373', '2250']
Length: 2, dtype: string
<StringArray>
['43', '2275', '193488']
Length: 3, dtype: string
<StringArray>
['1001', '2373']
Length: 2, dtype: string
<StringArray>
['338', '2431']
Length: 2, dtype: string
<StringArray>
['633', '2546']
Length: 2, dtype: string
<StringArray>
['1352', '2553', '233956']
Length: 3, dtype: string
<StringArray>
['2518', '2572', '6738']
Length: 3, dtype: string
<StringArray>
['1939', '2581']
Length: 2, dtype: string
<StringArray>
['1547', '2616']
Length: 2, dtype: string
<StringArray>
['1417', '2707']
Length: 2, dtype: string
<StringArray>
['3', '3061', '11320']
Length: 3, dtype: string
<StringArray>
['1575', '3099', '65825', '265489']
Length: 4, dtype: string
<StringArray>
['1480', '3275']
Length: 2, dtype: string
<StringArray>
['2179', '3356']
Length: 2, dtype: string
<StringArray>
['1465', '3463']
Length: 2, dtype: string
<StringArray>
['3422', '3501']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['2765', '3632']
Length: 2, dtype: string
<StringArray>
['290', '3885']
Length: 2, dtype: string
<StringArray>
['1946', '3889', '233960']
Length: 3, dtype: string
<StringArray>
['1142', '3983', '252854']
Length: 3, dtype: string
<StringArray>
['2354', '4000']
Length: 2, dtype: string
<StringArray>
['3965', '4129', '66116']
Length: 3, dtype: string
<StringArray>
['2410', '4330']
Length: 2, dtype: string
<StringArray>
['3563', '4724']
Length: 2, dtype: string
<StringArray>
['1346', '4855', '217176']
Length: 3, dtype: string
<StringArray>
['1149', '4892']
Length: 2, dtype: string
<StringArray>
['2304', '5121']
Length: 2, dtype: string
<StringArray>
['4120', '5157']
Length: 2, dtype: string
<StringArray>
['685', '5178']
Length: 2, dtype: string
<StringArray>
['391', '5338']
Length: 2, dtype: string
<StringArray>
['497', '5554']
Length: 2, dtype: string
<StringArray>
['663', '5571', '207975']
Length: 3, dtype: string
<StringArray>
['2763', '5709']
Length: 2, dtype: string
<StringArray>
['1375', '5755']
Length: 2, dtype: string
<StringArray>
['1225', '5851', '316287']
Length: 3, dtype: string
<StringArray>
['1862', '6187']
Length: 2, dtype: string
<StringArray>
['1219', '6546']
Length: 2, dtype: string
<StringArray>
['3855', '6551']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['2688', '6768']
Length: 2, dtype: string
<StringArray>
['4031', '6983']
Length: 2, dtype: string
<StringArray>
['5308', '7231']
Length: 2, dtype: string
<StringArray>
['2211', '7567']
Length: 2, dtype: string
<StringArray>
['5727', '7651']
Length: 2, dtype: string
<StringArray>
['2341', '7742']
Length: 2, dtype: string
<StringArray>
['4217', '8273']
Length: 2, dtype: string
<StringArray>
['3835', '8542']
Length: 2, dtype: string
<StringArray>
['573', '8654', '163163']
Length: 3, dtype: string
<StringArray>
['9083', '9084']
Length: 2, dtype: string
<StringArray>
['8644', '9108', '148074']
Length: 3, dtype: string
<StringArray>
['1645', '9111']
Length: 2, dtype: string
<StringArray>
['2214', '9202', '10323', '101865']
Length: 4, dtype: string
<StringArray>
['2228', '9609', '42131']
Length: 3, dtype: string
<StringArray>
['2409', '9735']
Length: 2, dtype: string
<StringArray>
['1036', '9969']
Length: 2, dtype: string
<StringArray>
['98', '10093']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['3510', '10462', '251252']
Length: 3, dtype: string
<StringArray>
['2749', '10946']
Length: 2, dtype: string
<StringArray>
['4456', '11284']
Length: 2, dtype: string
<StringArray>
['5221', '11287', '143519']
Length: 3, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['1618', '11552']
Length: 2, dtype: string
<StringArray>
['116', '11629', '27373']
Length: 3, dtype: string
<StringArray>
['4985', '11648']
Length: 2, dtype: string
<StringArray>
['414', '12005', '204599']
Length: 3, dtype: string
<StringArray>
['4438', '12134']
Length: 2, dtype: string
<StringArray>
['5779', '12168']
Length: 2, dtype: string
<StringArray>
['1726', '12248']
Length: 2, dtype: string
<StringArray>
['4271', '12511', '144310']
Length: 3, dtype: string
<StringArray>
['4621', '12584']
Length: 2, dtype: string
<StringArray>
['11396', '13239']
Length: 2, dtype: string
<StringArray>
['3083', '13375']
Length: 2, dtype: string
<StringArray>
['242', '13863']
Length: 2, dtype: string
<StringArray>
['524', '14253', '130908']
Length: 3, dtype: string
<StringArray>
['5251', '14812']
Length: 2, dtype: string
<StringArray>
['11778', '15066']
Length: 2, dtype: string
<StringArray>
['5782', '15159']
Length: 2, dtype: string
<StringArray>
['1178', '15958']
Length: 2, dtype: string
<StringArray>
['34', '15987']
Length: 2, dtype: string
<StringArray>
['9918', '16197']
Length: 2, dtype: string
<StringArray>
['4020', '16273']
Length: 2, dtype: string
<StringArray>
['770', '16439']
Length: 2, dtype: string
<StringArray>
['426', '16444']
Length: 2, dtype: string
<StringArray>
['8960', '16496']
Length: 2, dtype: string
<StringArray>
['2775', '16538', '135219']
Length: 3, dtype: string
<StringArray>
['199', '16719']
Length: 2, dtype: string
<StringArray>
['206', '17245']
Length: 2, dtype: string
<StringArray>
['2656', '17623']
Length: 2, dtype: string
<StringArray>
['380', '17699', '31477']
Length: 3, dtype: string
<StringArray>
['1960', '17709']
Length: 2, dtype: string
<StringArray>
['97', '17710']
Length: 2, dtype: string
<StringArray>
['986', '17926']
Length: 2, dtype: string
<StringArray>
['2463', '18563']
Length: 2, dtype: string
<StringArray>
['4784', '18657']
Length: 2, dtype: string
<StringArray>
['16562', '18755']
Length: 2, dtype: string
<StringArray>
['3201', '18833']
Length: 2, dtype: string
<StringArray>
['7771', '18963']
Length: 2, dtype: string
<StringArray>
['5804', '19000']
Length: 2, dtype: string
<StringArray>
['13488', '19027']
Length: 2, dtype: string
<StringArray>
['10236', '19348']
Length: 2, dtype: string
<StringArray>
['4449', '19903']
Length: 2, dtype: string
<StringArray>
['67', '20467']
Length: 2, dtype: string
<StringArray>
['2043', '20551']
Length: 2, dtype: string
<StringArray>
['3552', '21133']
Length: 2, dtype: string
<StringArray>
['13208', '21209']
Length: 2, dtype: string
<StringArray>
['3999', '21613']
Length: 2, dtype: string
<StringArray>
['1143', '22038']
Length: 2, dtype: string
<StringArray>
['3084', '22287']
Length: 2, dtype: string
<StringArray>
['9192', '22938']
Length: 2, dtype: string
<StringArray>
['1159', '23228']
Length: 2, dtype: string
<StringArray>
['10845', '23570']
Length: 2, dtype: string
<StringArray>
['15624', '24125', '25749', '31621']
Length: 4, dtype: string
<StringArray>
['14001', '24803']
Length: 2, dtype: string
<StringArray>
['2679', '24985']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['6847', '26906']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['3920', '27675']
Length: 2, dtype: string
<StringArray>
['145', '27926']
Length: 2, dtype: string
<StringArray>
['7944', '27938', '153939']
Length: 3, dtype: string
<StringArray>
['858', '28817']
Length: 2, dtype: string
<StringArray>
['5669', '30081']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['4118', '31503']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['5077', '32004', '65521', '90735']
Length: 4, dtype: string
<StringArray>
['9916', '32330']
Length: 2, dtype: string
<StringArray>
['6109', '32471', '118950']
Length: 3, dtype: string
<StringArray>
['5447', '32666']
Length: 2, dtype: string
<StringArray>
['437', '33071']
Length: 2, dtype: string
<StringArray>
['16398', '33112']
Length: 2, dtype: string
<StringArray>
['3737', '33292']
Length: 2, dtype: string
<StringArray>
['788', '34119']
Length: 2, dtype: string
<StringArray>
['20195', '34958']
Length: 2, dtype: string
<StringArray>
['8193', '35508']
Length: 2, dtype: string
<StringArray>
['1509', '36230']
Length: 2, dtype: string
<StringArray>
['5296', '36887']
Length: 2, dtype: string
<StringArray>
['244', '37345']
Length: 2, dtype: string
<StringArray>
['35423', '37358']
Length: 2, dtype: string
<StringArray>
['438', '37391', '129417']
Length: 3, dtype: string
<StringArray>
['4476', '38991']
Length: 2, dtype: string
<StringArray>
['15', '39463', '40529', '40531']
Length: 4, dtype: string
<StringArray>
['940', '40005']
Length: 2, dtype: string
<StringArray>
['6988', '40213']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['33468', '41372']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['954', '42490']
Length: 2, dtype: string
<StringArray>
['834', '43856']
Length: 2, dtype: string
<StringArray>
['992', '45319']
Length: 2, dtype: string
<StringArray>
['492', '53103']
Length: 2, dtype: string
<StringArray>
['2198', '55279']
Length: 2, dtype: string
<StringArray>
['11215', '60316']
Length: 2, dtype: string
<StringArray>
['4011', '63632']
Length: 2, dtype: string
<StringArray>
['37904', '64896']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['766', '65582']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['2532', '66190']
Length: 2, dtype: string
<StringArray>
['16387', '67364']
Length: 2, dtype: string
<StringArray>
['11542', '72125']
Length: 2, dtype: string
<StringArray>
['1701', '72269']
Length: 2, dtype: string
<StringArray>
['8887', '72799']
Length: 2, dtype: string
<StringArray>
['550', '72809']
Length: 2, dtype: string
<StringArray>
['6914', '72941']
Length: 2, dtype: string

<StringArray>
['1680', '73313']
Length: 2, dtype: string
<StringArray>
['32245', '80979']
Length: 2, dtype: string
<StringArray>
['23981', '82397']
Length: 2, dtype: string
<StringArray>
['1898', '82402']
Length: 2, dtype: string
<StringArray>
['77076', '85243']
Length: 2, dtype: string
<StringArray>
['4404', '90474']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['6711', '94073']
Length: 2, dtype: string
<StringArray>
['7549', '94484']
Length: 2, dtype: string
<StringArray>
['696', '94724']
Length: 2, dtype: string
<StringArray>
['20587', '96188']
Length: 2, dtype: string
<StringArray>
['2193', '99097']
Length: 2, dtype: string
<StringArray>
['3586', '100447']
Length: 2, dtype: string
<StringArray>
['6688', '101420']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['741', '102680']
Length: 2, dtype: string
<StringArray>
['690', '103235']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['6909', '107704']
Length: 2, dtype: string
<StringArray>
['3076', '108687', '318985']
Length: 3, dtype: string
<StringArray>
['18975', '109718']
Length: 2, dtype: string
<StringArray>
['99', '115293']
Length: 2, dtype: string
<StringArray>
['3370', '118177']
Length: 2, dtype: string
<StringArray>
['2375', '118561']
Length: 2, dtype: string
<StringArray>
['3984', '118776']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['5795', '124356']
Length: 2, dtype: string
<StringArray>
['8126', '124598', '287116']
Length: 3, dtype: string
<StringArray>
['9607', '127312']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['5209', '129614']
Length: 2, dtype: string
<StringArray>
['1294', '130592', '154633']
Length: 3, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['3154', '131616']
Length: 2, dtype: string
<StringArray>
['1785', '131914']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['1555', '136192']
Length: 2, dtype: string
<StringArray>
['38924', '137408']
Length: 2, dtype: string
<StringArray>
['131530', '140612']
Length: 2, dtype: string
<StringArray>
['11680', '141087']
Length: 2, dtype: string
<StringArray>
['40760', '143023']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['716', '144579']
Length: 2, dtype: string
<StringArray>
['13347', '146094']
Length: 2, dtype: string
<StringArray>
['66251', '146146']
Length: 2, dtype: string
<StringArray>
['2146', '146943']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['272', '148430']
Length: 2, dtype: string
<StringArray>
['131735', '149156']
Length: 2, dtype: string
<StringArray>
['43340', '151078', '278989']
Length: 3, dtype: string
<StringArray>
['4282', '151247']
Length: 2, dtype: string
<StringArray>
['286', '152359']
Length: 2, dtype: string
<StringArray>
['7334', '152848']
Length: 2, dtype: string
<StringArray>
['8671', '153507']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['900', '154327']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['17106', '154721']
Length: 2, dtype: string
<StringArray>
['16746', '155703']
Length: 2, dtype: string
<StringArray>
['565', '156009']
Length: 2, dtype: string
<StringArray>
['87200', '157083']
Length: 2, dtype: string
<StringArray>
['12281', '160561', '174517']
Length: 3, dtype: string
<StringArray>
['28289', '160773']
Length: 2, dtype: string
<StringArray>
['159858', '161109']
Length: 2, dtype: string
<StringArray>
['36367', '161126']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['146226', '164236']
Length: 2, dtype: string
<StringArray>
['1017', '164698']
Length: 2, dtype: string
<StringArray>
['2425', '165283']
Length: 2, dtype: string
<StringArray>
['3464', '165657']
Length: 2, dtype: string
<StringArray>
['141', '167237']
Length: 2, dtype: string
<StringArray>
['4611', '169795']
Length: 2, dtype: string
<StringArray>
['67499', '171369']
Length: 2, dtype: string
<StringArray>
['827', '171663']
Length: 2, dtype: string
<StringArray>
['36649', '173269']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['4562', '174744']
Length: 2, dtype: string
<StringArray>
['59161', '176071']
Length: 2, dtype: string
<StringArray>
['6368', '177807']
Length: 2, dtype: string
<StringArray>
['2210', '177875']
Length: 2, dtype: string
<StringArray>
['76319', '178570']
Length: 2, dtype: string
<StringArray>
['711', '180325']
Length: 2, dtype: string
<StringArray>
['23257', '182074']
Length: 2, dtype: string
<StringArray>
['1298', '183521']
Length: 2, dtype: string
<StringArray>
['8101', '190700']
Length: 2, dtype: string
<StringArray>
['182880', '191710', '269980']
Length: 3, dtype: string
<StringArray>
['1323', '192457']
Length: 2, dtype: string
<StringArray>
['2513', '192934']
Length: 2, dtype: string
<StringArray>
['2363', '193291']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['673', '193577']
Length: 2, dtype: string
<StringArray>
['9963', '194655']
Length: 2, dtype: string
<StringArray>
['2348', '198525']
Length: 2, dtype: string
<StringArray>
['27746', '200999']
Length: 2, dtype: string
<StringArray>
['2128', '201026']
Length: 2, dtype: string
<StringArray>
['155157', '201243']
Length: 2, dtype: string
<StringArray>
['9619', '201825']
Length: 2, dtype: string
<StringArray>
['97842', '201856']
Length: 2, dtype: string
<StringArray>
['16262', '202375']
Length: 2, dtype: string
<StringArray>
['7822', '203102']
Length: 2, dtype: string
<StringArray>
['14698', '203195']
Length: 2, dtype: string
<StringArray>
['1844', '204003']
Length: 2, dtype: string
<StringArray>
['9878', '204142']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['2940', '205101']
Length: 2, dtype: string
<StringArray>
['478', '205398']
Length: 2, dtype: string
<StringArray>
['17183', '205495']
Length: 2, dtype: string
<StringArray>
['4529', '207330']
Length: 2, dtype: string
<StringArray>
['154307', '207653', '256066', '344697']
Length: 4, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['14133', '209320', '232417']
Length: 3, dtype: string
<StringArray>
['471', '209378']
Length: 2, dtype: string
<StringArray>
['101644', '210152']
Length: 2, dtype: string
<StringArray>
['73312', '213304']
Length: 2, dtype: string
<StringArray>
['39530', '216403']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['218161', '218590']
Length: 2, dtype: string
<StringArray>
['146548', '218804']
Length: 2, dtype: string
<StringArray>
['197178', '222741']
Length: 2, dtype: string
<StringArray>
['826', '224031']
Length: 2, dtype: string
<StringArray>
['1861', '226501']
Length: 2, dtype: string
<StringArray>
['132203', '226610']
Length: 2, dtype: string
<StringArray>
['31069', '226619']
Length: 2, dtype: string
<StringArray>
['7239', '227502']
Length: 2, dtype: string
<StringArray>
['227029', '229543']
Length: 2, dtype: string
<StringArray>
['2816', '230059']
Length: 2, dtype: string
<StringArray>
['16052', '230933']
Length: 2, dtype: string
<StringArray>
['41890', '231620']
Length: 2, dtype: string
<StringArray>
['12568', '231733']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['6708', '232446']
Length: 2, dtype: string
<StringArray>
['5380', '232800']
Length: 2, dtype: string
<StringArray>
['1917', '232822']
Length: 2, dtype: string
<StringArray>
['6221', '232824']
Length: 2, dtype: string
<StringArray>
['2854', '233673']
Length: 2, dtype: string
<StringArray>
['107834', '233955']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['3015', '233961']
Length: 2, dtype: string
<StringArray>
['224', '235591']
Length: 2, dtype: string
<StringArray>
['3181', '238510']
Length: 2, dtype: string
<StringArray>
['198991', '240827']
Length: 2, dtype: string
<StringArray>
['1383', '241490']
Length: 2, dtype: string
<StringArray>
['12788', '242639']
Length: 2, dtype: string
<StringArray>
['172931', '245060']
Length: 2, dtype: string
<StringArray>
['1205', '245643']
Length: 2, dtype: string
<StringArray>
['14374', '246696']
Length: 2, dtype: string
<StringArray>
['154274', '246746']
Length: 2, dtype: string
<StringArray>
['232345', '246761']
Length: 2, dtype: string
<StringArray>
['123506', '246938']
Length: 2, dtype: string
<StringArray>
['196328', '247952']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['57201', '253470']
Length: 2, dtype: string
<StringArray>
['66982', '254213']
Length: 2, dtype: string
<StringArray>
['1463', '254498']
Length: 2, dtype: string
<StringArray>
['571', '255034']
Length: 2, dtype: string
<StringArray>
['5530', '255928']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['2132', '256159']
Length: 2, dtype: string
<StringArray>
['2946', '256730']
Length: 2, dtype: string
<StringArray>
['163255', '256911']
Length: 2, dtype: string
<StringArray>
['171726', '256999']
Length: 2, dtype: string
<StringArray>
['80771', '257164']
Length: 2, dtype: string
<StringArray>
['2474', '257960']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['6706', '259501']
Length: 2, dtype: string
<StringArray>
['12601', '259945']
Length: 2, dtype: string
<StringArray>
['4897', '260170']
Length: 2, dtype: string
<StringArray>
['927', '260757']
Length: 2, dtype: string
<StringArray>
['256', '260927']
Length: 2, dtype: string
<StringArray>
['40628', '261720']
Length: 2, dtype: string
<StringArray>
['2991', '264241']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['209136', '266830']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['84876', '271320']
Length: 2, dtype: string
<StringArray>
['27490', '272085']
Length: 2, dtype: string
<StringArray>
['7563', '272738']
Length: 2, dtype: string
<StringArray>
['8308', '274205']
Length: 2, dtype: string
<StringArray>
['194966', '275214']
Length: 2, dtype: string
<StringArray>
['150485', '275857']
Length: 2, dtype: string
<StringArray>
['2197', '276459']
Length: 2, dtype: string
<StringArray>
['143520', '277035']
Length: 2, dtype: string
<StringArray>
['129622', '277085']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['877', '280201']
Length: 2, dtype: string
<StringArray>
['4425', '282332']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['20828', '285570']
Length: 2, dtype: string
<StringArray>
['19030', '286064']
Length: 2, dtype: string
<StringArray>
['116593', '286309']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['1132', '287586']
Length: 2, dtype: string
<StringArray>
['173240', '296044']
Length: 2, dtype: string
<StringArray>
['9615', '296113']
Length: 2, dtype: string
<StringArray>
['1071', '296363']
Length: 2, dtype: string
<StringArray>
['134618', '296557']
Length: 2, dtype: string
<StringArray>
['87120', '296667']
Length: 2, dtype: string
<StringArray>
['291105', '296948']
Length: 2, dtype: string
<StringArray>
['26635', '297569']
Length: 2, dtype: string
<StringArray>
['1713', '298378']
Length: 2, dtype: string
<StringArray>
['2889', '298383']
Length: 2, dtype: string
<StringArray>
['132598', '299105']
Length: 2, dtype: string
<StringArray>
['234972', '303551']
Length: 2, dtype: string
<StringArray>
['2012', '312744']
Length: 2, dtype: string
<StringArray>
['103132', '314401']
Length: 2, dtype: string
<StringArray>
['258', '314413']
Length: 2, dtype: string
<StringArray>
['2653', '315048']
Length: 2, dtype: string
<StringArray>
['82702', '315881']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['8172', '317981']
Length: 2, dtype: string
<StringArray>
['257851', '318328']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['35570', '321277']
Length: 2, dtype: string
<StringArray>
['34010', '324246']
Length: 2, dtype: string
<StringArray>
['36231', '326804']
Length: 2, dtype: string
<StringArray>
['131121', '329450']
Length: 2, dtype: string
<StringArray>
['31481', '336794']
Length: 2, dtype: string
<StringArray>
['7069', '337787']
Length: 2, dtype: string
<StringArray>
['257306', '341416']
Length: 2, dtype: string
<StringArray>
['6902', '342016']
Length: 2, dtype: string
<StringArray>
[]
Length: 0, dtype: string
<StringArray>
['258210', '347521']
Length: 2, dtype: string
Duplicates resolved by appending year

In [8]:
# check if empty
df_dup_after_append

Empty DataFrame
Columns: [BGGId, Name, Description, YearPublished, GameWeight, AvgRating, BayesAvgRating, StdDev, MinPlayers, MaxPlayers, ComAgeRec, LanguageEase, BestPlayers, GoodPlayers, NumOwned, NumWant, NumWish, NumWeightVotes, MfgPlaytime, ComMinPlaytime, ComMaxPlaytime, MfgAgeRec, NumUserRatings, NumComments, NumAlternates, NumExpansions, NumImplementations, IsReimplementation, Family, Kickstarted, ImagePath, Rank:boardgame, Rank:strategygames, Rank:abstracts, Rank:familygames, Rank:thematic, Rank:cgs, Rank:wargames, Rank:partygames, Rank:childrensgames, Cat:Thematic, Cat:Strategy, Cat:War, Cat:Family, Cat:CGS, Cat:Abstract, Cat:Party, Cat:Childrens]
Index: []

[0 rows x 48 columns]

In [9]:
# Update df columns with game names
df_all = pd.DataFrame(df_all, columns=df_games['Name'])
df_mech = pd.DataFrame(df_mech, columns=df_games['Name'])
df_theme = pd.DataFrame(df_theme, columns=df_games['Name'])

In [10]:
df_mech.head()

Name,Die Macher,Dragonmaster,Samurai (3),Tal der Könige,Acquire,Mare Mediterraneum,Cathedral,Lords of Creation,El Caballero,Elfenland,...,System Gateway (fan expansion for Android: Netrunner),Voll verplant,Mille Fiori,7 Wonders: Architects,Azul: Queen's Garden,Salvage,Blitzkrieg!: World War Two in 20 Minutes (347521),Rock Paper Scissors: Deluxe Edition,Splitter,Captains' War
0,1.000000,0.006483,0.309278,0.354869,0.161819,0.347149,0.012717,0.009779,0.262480,0.195305,...,0.120268,0.001887,0.002297,0.002694,0.002204,0.242503,0.241079,0.170181,0.242753,0.170084
1,0.006483,1.000000,0.007463,0.006273,0.010425,0.003876,0.008852,0.004256,0.007409,0.008627,...,0.000000,0.000000,0.001381,0.000758,0.000386,0.636396,0.000491,0.000000,0.000803,0.000000
2,0.309278,0.007463,1.000000,0.378431,0.316664,0.004233,0.200978,0.007058,0.540723,0.216335,...,0.130664,0.002241,0.002354,0.216773,0.371242,0.002821,0.261445,0.000539,0.002536,0.000000
3,0.354869,0.006273,0.378431,1.000000,0.011692,0.019233,0.011942,0.018050,0.339089,0.014644,...,0.159099,0.002829,0.004087,0.261656,0.227451,0.320575,0.159099,0.000000,0.003418,0.000000
4,0.161819,0.010425,0.316664,0.011692,1.000000,0.005565,0.189818,0.007829,0.260018,0.200576,...,0.120960,0.001917,0.001543,0.003741,0.173360,0.002274,0.121776,0.000791,0.001624,0.000000

In [11]:
# Create df to be SQL table for games information
df_info =pd.DataFrame()
df_info[['Name', 'ImagePath', 'YearPublished', 'MfgPlaytime',
         'MinPlayers', 'MaxPlayers', 'AvgRating']] = df_games[['Name', 'ImagePath','YearPublished',
                                                               'MfgPlaytime', 'MinPlayers', 'MaxPlayers', 'AvgRating']]

df_info.head()

,Name,ImagePath,YearPublished,MfgPlaytime,MinPlayers,MaxPlayers,AvgRating
0,Die Macher,https://cf.geekdo-images.com/rpwCZAjYLD940NWwP...,1986,240,3,5,7.61428
1,Dragonmaster,https://cf.geekdo-images.com/oQYhaJx5Lg3KcGis2...,1981,30,3,4,6.64537
2,Samurai (3),https://cf.geekdo-images.com/o9-sNXmFS_TLAb7Zl...,1998,60,2,4,7.45601
3,Tal der Könige,https://cf.geekdo-images.com/nYiYhUlatT2DpyXaJ...,1992,60,2,4,6.60006
4,Acquire,https://cf.geekdo-images.com/3C--kJRhi6kTPHsr9...,1964,90,2,6,7.33861

In [34]:
# Establish a connection to the PostgreSQL database
connection_params = {
    'host': dbhost,
    'port': dbport,
    'dbname': dbname,
    'user': dbuser,
    'password': dbpass,
    'sslmode': dbssl
}
    
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(**connection_params)
# Create a cursor object
cursor = conn.cursor()

# Enable autocommit mode
conn.autocommit = True

In [35]:
# create mapping to remove special characters not allowed in SQL table names
character_map = {' ':'_', '!': '_', '*': '_', '^': '_', '%': '_', '$': '_', '&': 'and',
                 ':': '_', '#': '_', "'": "_", '(': '_', ')': '_', '/': '_',
                 '.': '_', ',': '_', '-': '_', '?':'_', '`':'_', '+':'_', '"':"_", '[':'_',
                ']':'_', '=':'_', '@':'_'}

# Iterate over each column in the dataframe
for column_name in df_all.columns:
    # Generate a temporary table name for the current column
    table_name = f"table_{column_name.lower()}"
    
    for char, replacement in character_map.items():
        table_name = table_name.replace(char, replacement)
        

    try:

        # Drop the table if it already exists
        drop_table_query = f"DROP TABLE IF EXISTS {table_name}"
        cursor.execute(drop_table_query)

        # Create the temporary table
        create_table_query = f"CREATE TABLE {table_name} (id FLOAT PRIMARY KEY, combined FLOAT, mech FLOAT, theme FLOAT)"
        cursor.execute(create_table_query)

        # Generate the list of index values (increasing integers)
        index_values = list(range(len(df_games)))

         # Check if the encoded column name exists in df_similarity
        if column_name in df_all.columns:

            #print(column_name)
            # Convert the data to a string and create a StringIO object
            values_all = df_all[column_name].tolist()
            values_mech = df_mech[column_name].tolist()
            values_theme = df_theme[column_name].tolist()

            # Create a StringIO object to hold the data
            data_io = StringIO()

            # Write the index and value pairs to the StringIO object
            for index, value_all, value_mech, value_theme in zip(index_values, values_all, values_mech, values_theme):
                data_io.write(f"{index},{value_all},{value_mech},{value_theme}\n")

            # Reset the buffer position
            data_io.seek(0)

            # Copy the data from the StringIO object to the temporary table using COPY FROM
            copy_query = f"COPY {table_name} FROM STDIN WITH CSV"
            cursor.copy_expert(copy_query, data_io)

            # Commit the changes for the current column
            conn.commit()
        else:
            print(f"Error: Column '{column_name}' not found in df_similarity")

    except Exception as e:
        #Handle the exception and perform a rollback
        print(f"Error occurred: {str(e)}")
        conn.rollback()
        
# Close the cursor and the database connection
cursor.close()
conn.close()

In [23]:
# Single game insert
# create mapping to remove special characters not allowed in SQL table names
character_map = {' ':'_', '!': '_', '*': '_', '^': '_', '%': '_', '$': '_', '&': 'and',
                 ':': '_', '#': '_', "'": '_', '(': '_', ')': '_', '/': '_',
                 '.': '_', ',': '_', '-': '_', '?':'_', '`':'_', '+':'_', '"':'_', '[':'_',
                ']':'_', '=':'_', '@':'_'}

# Iterate over each column in the dataframe
for column_name in ['News@11']:
    # Generate a temporary table name for the current column
    table_name = f"table_{column_name.lower()}"
    
    for char, replacement in character_map.items():
        table_name = table_name.replace(char, replacement)
        
    try:

        # Drop the table if it already exists
        drop_table_query = f"DROP TABLE IF EXISTS {table_name}"
        cursor.execute(drop_table_query)

        # Create the temporary table
        create_table_query = f"CREATE TABLE {table_name} (id FLOAT PRIMARY KEY, combined FLOAT, mech FLOAT, theme FLOAT)"
        cursor.execute(create_table_query)

        # Generate the list of index values (increasing integers)
        index_values = list(range(len(df_games)))

         # Check if the encoded column name exists in df_similarity
        if column_name in df_all.columns:

            #print(column_name)
            # Convert the data to a string and create a StringIO object
            values_all = df_all[column_name].tolist()
            values_mech = df_mech[column_name].tolist()
            values_theme = df_theme[column_name].tolist()

            # Create a StringIO object to hold the data
            data_io = StringIO()

            # Write the index and value pairs to the StringIO object
            for index, value_all, value_mech, value_theme in zip(index_values, values_all, values_mech, values_theme):
                data_io.write(f"{index},{value_all},{value_mech},{value_theme}\n")

            # Reset the buffer position
            data_io.seek(0)

            # Copy the data from the StringIO object to the temporary table using COPY FROM
            copy_query = f"COPY {table_name} FROM STDIN WITH CSV"
            cursor.copy_expert(copy_query, data_io)

            # Commit the changes for the current column
            conn.commit()
        else:
            print(f"Error: Column '{column_name}' not found in df_similarity")

    except Exception as e:
        #Handle the exception and perform a rollback
        print(f"Error occurred: {str(e)}")
        conn.rollback()
        
# Close the cursor and the database connection
cursor.close()
conn.close()

Error occurred: name 'df_all' is not defined

In [21]:
# create SQL table for df_info

# create mapping to remove special characters not allowed in SQL table names
character_map = {' ':'_', '!': '_', '*': '_', '^': '_', '%': '_', '$': '_', '&': 'and',
                 ':': '_', '#': '_', "'": '_', '(': '_', ')': '_', '/': '_',
                 '.': '_', ',': '_', '-': '_', '?':'_', '`':'_', '+':'_', '"':'_', '[':'_',
                ']':'_', '=':'_', '@':'_'}

# Generate a temporary table name for the current column
table_name = f"table_game_info"


try:

    # Drop the table if it already exists
    drop_table_query = f"DROP TABLE IF EXISTS {table_name}"
    cursor.execute(drop_table_query)

    # Create the temporary table
    create_table_query = f"CREATE TABLE {table_name} (id FLOAT PRIMARY KEY, name VARCHAR, image TEXT, year_pub VARCHAR, " \
                         f"play_time FLOAT, min_players INT, max_players INT, avg_rating FLOAT)"

    cursor.execute(create_table_query)

    # Generate the list of index values (increasing integers)
    index_values = list(range(len(df_info)))

    #print(column_name)
    # Convert the data to a string and create a StringIO object
    values_name = df_info['Name'].tolist()
    values_image = df_info['ImagePath'].tolist()
    values_year = df_info['YearPublished'].tolist()
    values_playtime = df_info['MfgPlaytime'].tolist()
    values_minplay = df_info['MinPlayers'].tolist()
    values_maxplay = df_info['MaxPlayers'].tolist()
    values_rating = df_info['AvgRating'].tolist()

    # Create a StringIO object to hold the data
    data_io = StringIO()

    # Write the index and value pairs to the StringIO object
    for index, value_name, value_image, value_year, value_play, value_min,\
    value_max, value_rate in zip(index_values, values_name, values_image,\
                                 values_year, values_playtime, values_minplay, values_maxplay, values_rating):

        data_io.write(f"{index},\"{value_name}\",\"{value_image}\",{value_year},{value_play},{value_min},{value_max},{value_rate}\n")

    # Reset the buffer position
    data_io.seek(0)

    # Copy the data from the StringIO object to the temporary table using COPY FROM
    copy_query = f"COPY {table_name} FROM STDIN WITH CSV"
    cursor.copy_expert(copy_query, data_io)

    # Commit the changes for the current column
    conn.commit()

except Exception as e:
    #Handle the exception and perform a rollback
    print(f"Error occurred: {str(e)}")
    conn.rollback()
        
# Close the cursor and the database connection
cursor.close()
conn.close()

In [36]:
# Check if the commit was successful
if conn.status == psycopg2.extensions.STATUS_IN_TRANSACTION:
    print("Commit failed")
else:
    print("Commit successful")

Commit successful

In [42]:
# make a df to reference in app
df_games_app = df_info.copy(deep=True)

In [43]:
# JQuery does not like "&" or "'"
df_games_app['Name'] = df_games_app['Name'].str.replace('&', 'and')
df_games_app['Name'] = df_games_app['Name'].str.replace("'", ' ')
pickle.dump(df_games_app, open('df_games_app', 'wb'))

In [44]:
df_games_app.head()

,Name,ImagePath,YearPublished,MfgPlaytime,MinPlayers,MaxPlayers,AvgRating
0,Die Macher,https://cf.geekdo-images.com/rpwCZAjYLD940NWwP...,1986,240,3,5,7.61428
1,Dragonmaster,https://cf.geekdo-images.com/oQYhaJx5Lg3KcGis2...,1981,30,3,4,6.64537
2,Samurai (3),https://cf.geekdo-images.com/o9-sNXmFS_TLAb7Zl...,1998,60,2,4,7.45601
3,Tal der Könige,https://cf.geekdo-images.com/nYiYhUlatT2DpyXaJ...,1992,60,2,4,6.60006
4,Acquire,https://cf.geekdo-images.com/3C--kJRhi6kTPHsr9...,1964,90,2,6,7.33861